/* El proyecto ha sido desarrollado como parte del Trabajo de Fin de Grado en Ingeniería Informática de UNIR */
/* Alumno: Jorge Varón Rodríguez */

/* Estilos para el contenedor principal */
.container {
    max-width: 90%; /* El contenedor no ocupará más del 90% de la pantalla */
    margin: 0 auto; /* El contenedor se centrará horizontalmente */
    padding: 20px; /* Se agregará espacio de relleno alrededor del contenido dentro del contenedor */
    text-align: center; /* El texto dentro del contenedor se alineará en el centro */
}

/* Estilos para los encabezados h1 */
h1 {
    font-size: 2rem; /* El tamaño de los encabezados h1 será un poco más grande */
    margin-bottom: 20px; /* Habrá un espacio en blanco debajo  */
}

/* Estilos para los encabezados h3 */
h3 {
    font-size: 1.2rem; /* El tamaño de fuente de los encabezados h3 */
    margin-bottom: 10px; /* Habrá un espacio en blanco debajo  */
}
/* Estilos para las imágenes con la clase "allergens-img" */
.allergens-img {
    max-width: 100%; /* Las imágenes no se estirarán más allá de su tamaño original */
    height: auto; /* La altura de las imágenes se ajustará automáticamente para mantener su proporción */
    margin-bottom: 20px; /* Habrá un espacio en blanco debajo de las imágenes */
}

/* Estilos para el botón con la clase "generate-btn" */
.generate-btn {
    display: inline-block; /* El botón se mostrará en línea con otros elementos */
    padding: 1em 2em; /* El botón tendrá un espacio de relleno en todos los lados */
    background-color: #4caf50; /* El fondo del botón será de color verde */
    color: #fff; /* El texto del botón será de color blanco */
    border: none; /* El botón no tendrá bordes */
    border-radius: 5px; /* Los bordes del botón serán ligeramente redondeados */
    text-decoration: none; /* No habrá subrayado en el texto del botón */
    font-weight: bold; /* El texto del botón será más grueso */
}

/* Estilos para el botón cuando se pasa el cursor por encima (hover) */
.generate-btn:hover {
    background-color: #45a049; /* El fondo del botón cambiará a un tono más oscuro de verde cuando se pase el cursor por encima */
}
